#editor {
    height: 500px;
    width: auto;
}

#download {
    margin: 20px;
}

#make {
    margin-bottom: 40px;
}

code {
    white-space: pre;
    word-break: normal;
    word-wrap: normal;    
}
