#editor {
    height: 500px;
    width: auto;
}

#download {
    margin: 20px;
}

#make {
    margin-bottom: 40px;
}

#code {
    display: none;
}

#http_primitive_settings {
    display: none;
}

#dns_primitive_settings {
    display: none;
}

#footer {
    text-align: center;
}

code {
    white-space: pre;
    word-break: normal;
    word-wrap: normal;    
}
